/*START BACKGROUND VIDEO STYLING*/
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
}
.fullscreen-bg__video{
    opacity: 0.4;
}
@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        height: 300%;
        top: -100%;
    }
}
@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}
@media screen and (max-width: 650px){
    .fullscreen-bg__video {
        min-height: 100%;
        width: auto;
        position: absolute;
        top: 0;
        left: -75%;
    }
}
@media screen and (max-height: 170px){
    .fullscreen-bg__video {
        min-width: 100%;
        height: auto;
    }
}
/*END BACKGROUND VIDEO STYLING*/

/*Background Color*/
.new-bg-c{
    background-color: #070707;
    /*Background img*/
    background-image: url('../img/flat-bg.jpg');
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/*title and description texts for desktop*/
.head-text{
    text-align: center;
    padding-top: 5%;
    margin-bottom: -2.5%;
}
.head-text > h2{
    font-family: 'Raleway', sans-serif;
    font-size: 75px;
    color: #fffafa;
    opacity: 0.8;
}
.head-text > p{
    font-family: 'Raleway', sans-serif;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 20px;
    color: #fffafa;
    opacity: 0.7;
}

/*title and description text for mobile*/
.sm-head-text{
    text-align: center;
    padding-top: 7%;
}
.sm-head-text > h2{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: #fffafa;
    opacity: 0.8;
}
.sm-head-text > p{
    font-family: 'Raleway', sans-serif;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 14px;
    color: #fffafa;
    opacity: 0.7;
}

/*countdown for desktop*/
.big-row > div{
    margin: .5em;
    max-width: 25%;
    text-align: center;
    height: auto;
    padding: 1em;
    border-radius: 1em;
    /*border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.15);*/
}
.numbers{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 7em;
    color: #fffafa;
    opacity: 0.8;
}
.words{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.5em;
    color: #fffafa;
    opacity: 0.7;
}

/*countdown for mobile*/
.sm-row > div{
    margin: .1em;
    max-width: 25%;
    text-align: center;
    padding-top: 1em;
    height: 6em;
    border-radius: 1em;
    /*border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.1);*/
}
.sm-numbers{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3em;
    color: #fffafa;
    line-height: 0.5em;
    opacity: 0.8;
}
.sm-words{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
    color: #fffafa;
    opacity: 0.7;
}
/*social icons for desktop*/
.social{
    text-align: center;
    padding-bottom: 2em;
}
.svg {
    margin: 2em;
    opacity: .7;
    height: 2em;
}

/*social icons for mobile*/
.sm-svg {
    opacity: .9;
    height: 1.5em;
    margin: .5em;
    text-decoration: none;
}
.sm-list {
    margin-top: 2em;
    margin-right: 2.5em;
}
.sm-list-item {
    /*border: 1px solid #070707;
    border-radius: 1em;*/
    margin-bottom: 1em;
}
.sm-list a {
    font-size: 22px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fffafa;
}
.sm-list a:hover {
    opacity: 1;
    color: #fffafa;
    text-decoration: none;
}
.sm-list li{
    list-style: none;
}

/*version link*/
.version {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin-bottom: 10%;
}
.version a {
    text-decoration: none;
    color: #fffafa;
    opacity: .9;
    padding: 1em;
    border: 1px solid #070707;
    border-radius: 1em;
}
.version a:hover{
    text-decoration: none;
    color: #fffafa;
}
